.delete-checklist{
    margin-left: 40vw;
    margin-top: 20rem;
}
.check-box{
    overflow-y: scroll;
}
.delete{
    color: #DF4914;
}
@media (min-width:480px) and (max-width:1000px){
    .delete-checklist{
        margin-left: 10vw;
    }
}