.board-header{
    min-width: 100%;
    height: 3rem;
    background-color: #1E5C91;
    display: flex;
    align-items: center;
    color: aliceblue;
    padding-left:15rem;
}
.listpage{
    background-color: #297ABF;
    min-width: 100%;
    min-height: 53rem;
    background-attachment: fixed;
    background-position-y: bottom;
    overflow-y: auto;
    overflow-x:scroll;
    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
    overflow-y: scroll;
}

.text-field{
    width: 300px;
}
.text-space{
    background-color: aliceblue;
}
.btn{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.add-list{
    display: flex;
    justify-content: center;
}
h3{font-weight: 700;}



